@model MvcProject.Models.Product


@{
    ViewBag.Title = "MoreDedails";
}

<h2>פרטים נוספים</h2>

<div>
<h4>פרטי המוצר:</h4>
  <h5>כותרת:</h5>
            @Html.DisplayFor(model => model.Title)
        

    <h5>תאור קצר:</h5>

        
            @Html.DisplayFor(model => model.ShortDescription)
       




        
           <h5>תאריך פרסום:</h5>
     
            @Html.DisplayFor(model => model.Date)
       


       
           <h5>מחיר:</h5>
       

        
    @Html.DisplayFor(model => model.Price) $
       


    <div>

        @if (Model.picture1 != null)
            {

            <img src='@Url.Action("ShowInHomePage", "Home", new { id = Model.Id })' />
        }
        @if (Model.picture2 != null)
            {
            <img src='@Url.Action("ShowPicture2", "Home", new { id = Model.Id })' />

        }
        @if (Model.picture3 != null)
            {
            <img src='@Url.Action("ShowPicture3", "Home", new { id = Model.Id })' />

        }

    </div>



    <h5>תאור מורחב:</h5>
       
            @Html.DisplayFor(model => model.LongDescription)
       
   
</div>

<div>
    
         
            <h4>  פרטי המפרסם:</h4>

    <h5>שם משתמש:</h5>
                @Html.DisplayFor(model => model.Owner.UserName)


         
           
      <h5>דואר אלקטרוני:</h5>
           
                @Html.DisplayFor(model => model.Owner.Email)
           <h5> נולד ב- @Html.DisplayFor(model => model.Owner.BirthDate)</h5>
         
      
           
     
    </div>




<p>
@if (User.Identity.IsAuthenticated && Model.Status == MvcProject.Models.State.ForSale)
{
    @Html.ActionLink("הוסף לסל", "AddToCart", "ShoppingCart", new { id = Model.Id }, null )<br />
}
@Html.ActionLink("דף הבית", "HomePage", "Home")
</p>
