@model MvcProject.Models.Product
@*@ViewBag.Massege*@
<div style="width:200px">
</div>
@Model.Title
<br />
@Model.Date
<br />
@if (Model.picture1!=null)
{
    <img
         src='@Url.Action("ShowInHomePage", "Home", new { id = Model.Id })' />
        <br />
}
   
   
    @Model.ShortDescription
    <br />
    @Model.Price $
    <br />
       
   @Html.ActionLink("פרטים נוספים", "MoreDedails", "Home", new { id = Model.Id }, string.Empty)
    <br />
    @if (User.Identity.IsAuthenticated && Model.Status == MvcProject.Models.State.ForSale)
    {
        @Html.ActionLink("הוסף לסל", "AddToCart", "ShoppingCart", new { id = Model.Id }, string.Empty)
    }

