
<div>
    @Html.ActionLink("מסך ראשי", "HomePage", "Home")
</div>

    <div>
        @Html.ActionLink("רישום פרטים אישים", "EditUser", "User")
    </div>

<div>
    @Html.ActionLink("אודותינו", "About", "Home")
</div>
<div>
    @Html.ActionLink("סל קניות", "Cart", "ShoppingCart")
</div>
<div>
    @if (User.Identity.IsAuthenticated)
    {

        @Html.ActionLink("פרסום מודעה", "SubmitData", "Product")

    }

</div>
@Html.ActionLink("אודותינו", "About", "Home", new { area = "" }, new { @class = "navbar-brand" })